* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background: url(geran-de-klerk-qzgN45hseN0-unsplash.jpg) no-repeat center
    center/cover;
  height: 100vh;
  position: relative;
}

.open-btn {
  position: absolute;
  text-align: center;
  top: 70%;
  left: 10%;
  width: 350px;
  height: 80px;
  font-size: 2rem;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  transition: 1s;
}

.open-btn:hover {
  background: #fff;
  color: black;
  transform: scale(1.25, 1.25);
  cursor: pointer;
}

.modal-container {
  position: absolute;
  top: 30%;
  left: 25%;
  border: 2px solid #fff;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  color: #fff;
  border-radius: 5px;
  width: 50%;
  height: 200px;
}

.close-btn span {
  display: inline-block;
  text-align: right;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 95%;
  transition: transform 0.5s;
}
.close-btn span:hover {
  transform: rotate(20deg);
  transition: transform 0.5s;
}

.modal p {
  margin: 0;
  padding-bottom: 25px;
}

.modal h2 {
  margin: 0;
  padding-bottom: 20px;
  color: #4e7b38;
}

/* Javascript modal classes */

.hidden {
  opacity: 0;
}

.visible {
  background: #fff;
  color: #000;
  box-shadow: 0 0 5px #000;
  opacity: 1;
  transition: opacity 1s;
}
